* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#input-field {
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  font-size: 35px;
  text-align: right;
  margin: 10px 0;
  width: 255px;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(252, 228, 228);
}
.main {
  background-color: black;
  width: 300px;
  height: 500px;
  margin-left: 250px;
  color: white;
  border-radius: 25px;
  box-shadow: orange 5px 15px 25px 2px;
}

.conteiner input {
  width: 290px;
  height: 90px;
  font-size: 36px;
  text-align: right;
  border-style: none;
  background-color: #16bac5;
  color: lightblue;
}
#equal {
  width: 135px;
}

.keyboard button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
  border-style: hidden;
  background-color: rgb(10, 35, 45);
  box-shadow: 1px 1px orange inset;
  font-size: larger;
  font-weight: 600;
  color: antiquewhite;
}
.keyboard button:hover {
  background-color: orange;
}

.zero {
  height: 55px;
  width: 100px;
  border-radius: 40px;
  justify-content: flex-start;
  padding-left: 20px;
}
